In [1]:
import os
import sys
import glob
import numpy as np
import pandas as pd

import os
# PACKAGE_FOLDER =  os.environ.get('PACKAGE_FOLDER')
PACKAGE_FOLDER = '/content/drive/MyDrive/Projects/Raptor/raptor_functions'
sys.path.insert(0, PACKAGE_FOLDER)

# Libraries to install

In [3]:
# !pip install mlflow boto3 awscli tsfresh raptor_functions

# Retrieve Model URI from mlflow

In [4]:
# !aws configure

This is the only thing we add in the code to make a prediction + new data

In [5]:
# INPUT - URI to the MLFlow experiment
# ************************************
# ************************************
model_uri = 's3://raptor-mlflow-data/mlartifacts/3/24ed79470750408cb81dde2c7a1845b4/artifacts/ssc'
# ************************************
# ************************************

## Get new data

In [6]:
# model_uri1 = 's3://raptor-mlflow-data/mlartifacts/1/5c313b84ccfa4c39a538a1d3241cafab/artifacts/Extreme Gradient Boosting'

In [2]:
model_uri1 = "s3://raptor-mlflow-data/mlartifacts/1/db53e8baeb3f4ecb9116f13b033ec75e/artifacts/Extreme Gradient Boosting"
model_uri = 's3://raptor-mlflow-data/mlartifacts/6/3cc213b0b5e44cf8b1338b3a9f472aca/artifacts/ssc'
model_uri2 = 's3://raptor-mlflow-data/mlartifacts/3/f90611cbe15b446d93dfcf8d3dae3dd2/artifacts/ssc'

In [3]:
from raptor_functions.supervised.datasets import get_data
df = get_data('handheld_data')

# select one single experiment
df_exp = df.groupby('exp_unique_id').get_group(0)

# Predict on new data

### Method 1
- get prediction data
- load model
- make prediction

In [4]:
# from raptor_functions.supervised.prediction import get_prediction_features

from raptor_functions.semi_supervised.prediction import get_prediction_features

prediction_data1 = get_prediction_features(df_exp, model_uri1)
prediction_data2 = get_prediction_features(df_exp, model_uri2)

Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 256.88it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/semi_supervised/prediction.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 233.16it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/semi_supervised/prediction.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [5]:
prediction_data1

   sensor_5__fft_coefficient__attr_angle__coeff_34
0                                        27.346596

In [6]:
prediction_data2

   sensor_12__minimum
0              27.231

In [7]:
import mlflow
# Load model as a PyFuncModel.
loaded_model1 = mlflow.pyfunc.load_model(model_uri1)
pred1 = loaded_model1.predict(prediction_data1)

loaded_model2 = mlflow.pyfunc.load_model(model_uri2)
pred2 = loaded_model2.predict(prediction_data2)

In [9]:
pred1

array([0])

In [14]:
pred2.values[0][0]

1

### Method 2
- make prediction

In [15]:
from raptor_functions.supervised.prediction import make_prediction, make_ensemble_prediction

In [16]:
df_exp

     exp_unique_id  exp_name  ...                        filename   result
0                0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
1                0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
2                0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
3                0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
4                0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
..             ...       ...  ...                             ...      ...
123              0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
124              0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
125              0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
126              0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control
127              0  Test 24   ...  5 NegTest_3_20220321_14_12.txt  Control

[128 rows x 35 columns]

In [17]:

pred1 = make_prediction(df_exp, model_uri1)

Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 438.28it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [18]:
pred1

array([0])

In [19]:
pred2 = make_prediction(df_exp, model_uri2)

Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 297.24it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [20]:
pred2

[0    1
 dtype: int64]

In [21]:
make_ensemble_prediction(df_exp)

Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 377.47it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 601.20it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 10/10 [00:00<00:00, 495.41it/s]
/content/drive/MyDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

(1,
 {'Extra Trees Classifier': array([0]), 'ssc': [0    1
   dtype: int64], 'Logistic Regression': array([1])})

In [22]:
from raptor_functions.supervised.preprocess import preprocess_single_file

In [26]:
filepath = '/content/drive/MyDrive/Projects/Raptor/data/Raw_Data/24H 1 Control_14_15_26.28.txt'

In [28]:
preprocess_single_file(filepath)

     exp_unique_id  timesteps  sensor_1  ...       exp_name  repeat_no   result
0                0        0.0   314.851  ...  24H 1 Control          2  Control
1                0        1.0   314.899  ...  24H 1 Control          2  Control
2                0        2.0   314.493  ...  24H 1 Control          2  Control
3                0        3.0   314.708  ...  24H 1 Control          2  Control
4                0        4.0   314.708  ...  24H 1 Control          2  Control
..             ...        ...       ...  ...            ...        ...      ...
116              0      116.0   314.302  ...  24H 1 Control          2  Control
117              0      117.0   314.565  ...  24H 1 Control          2  Control
118              0      118.0   314.947  ...  24H 1 Control          2  Control
119              0      119.0   314.016  ...  24H 1 Control          2  Control
120              0      120.0   314.469  ...  24H 1 Control          2  Control

[121 rows x 36 columns]